<ul class='days'>
  <li>Date of event: <%= day.date_of_event %></li>
  <li>Event name: <%= day.event %></li>
  <li>First name: <%= day.first_name %></li>
  <li>Last Name: <%= day.last_name %></li>
  <li>Email: <%= day.email %></li>
  <li>Telephone: <%= day.telephone %></li>
  <li>Created at: <%= time_ago_in_words(day.created_at) %> ago</li>
</ul>