<%# add navigation links to this file %>
<li><%= link_to 'Galleries', galleries_path %></li>
<li><%= link_to 'Contact', page_path('contact') %></li>
<li><%= link_to 'Fees', fee_path(1) %></li>
<li><%= link_to 'Custom Printing', fee_path(2) %></li>
<li><%= link_to 'Save the Day', new_day_path %></li>
<li><%= link_to 'Saved', days_path if current_user %></li>
